<!-- The code below was adapted from a YouTbe tutorial
published by content creator 'Bob's Programming Academy'
the link is here: https://youtu.be/EUMpUUXKvP0?si=noWr2ZA1PkCwgyXt -->

{% extends "trades/base.html" %}

{% block body %}

<h3 class="text-center m-5 fw-bold"  style="color: green;">Add Trade <i class="fa-solid fa-plus"></i></h3>

<!-- if the success token variable from the add_trade_details function in views.py
is returned as True, the code below will run-->
{% if success %}
    <div class="alert alert success text-center m-3" role="alert">
        <p class="mt-5 fw-bold">Trade details added successfully</p>
        <a href="{% url 'index' %}" class="btn btn-success mt-5">Return to Main Menu</a>
    </div>


<!-- if the success token variable from the add_trade_details function in views.py
is returned as False, the code below will run-->
{% else %}
<div id="add-trade-form-container" class="row justify-content-center">
    <div class="col-8">
        <form action="{% url 'add_trade' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success mt-2">Add Trade <i class="fa-solid fa-plus"></i></button>
            <a href="{% url 'index' %}" class="btn btn-dark mt-2 mx-3">Cancel</a>
        </form>
    </div>
</div>

{% endif %}



{% endblock %}