<!-- The code below was adapted from a YouTube tutorial
published by content creator 'Bob's Programming Academy'
the link is here: https://youtu.be/EUMpUUXKvP0?si=noWr2ZA1PkCwgyXt -->

{% extends "trades/base.html" %}

{% block body %}

<h3 class="text-center m-5 fw-bold" style="color:black;">Edit Trade</i></h3>

<div id="add-trade-form-container" class="row justify-content-center">
    <div class="col-8">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center">
                <button type="submit" class="btn btn-success mt-2">Save changes</button>
                <a href="{% url 'index' %}" class="btn btn-dark mt-2 mx-3">Cancel</a>
            </div>
        </form>
    </div>
</div>





{% endblock %}