{% extends "trades/base.html" %}

{% block body %}
<div class="container-fluid">
    <h3 class="m-5 text-center fw-bold text-body">Open Trades</h3>
    <div class="row">
        <div class="col-12">
            <!-- The 'open_trades' variable below is passed in from 
            the 'open_trades' view in the views.py file, the If
            function below first check if there are values in that variable -->
            {% if open_trades %}
            <table class="table table-hover table-responsive">
                <caption>Showing records of all Open trades in your Ticker account</caption>
                <thead>
                    <tr>
                        <th scope="col">Opened</th>
                        <th scope="col">Ticker</th>
                        <th scope="col" class="hide-on-mobile">Position</th>
                        <th scope="col">Amount</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- If there are values inside the 'trades' variable, the For loop below will
                    then iterate over those values, and return the values associated with the Django variables
                    injected into the html table cells below -->
                    {% for trade in open_trades %}
                    <tr>
                        <td>{{ trade.date_opened }}</td>
                        <td>{{ trade.ticker }}</td>
                        <td class="hide-on-mobile">{{ trade.position }}</td>
                        <td>{{ trade.trade_amount }}</td>
                        <td>
                            <button type="button" class="btn btn-outline-dark btn-sm me-1 action-button"
                                href="{% url 'view_trade' trade.id %}" data-bs-toggle="modal"
                                data-bs-target="#selectedTrade{{ trade.id }}">View</button>

                            <!-- The modal below will be displayed when the user clicks on the 'View'
                            button, it contains additional relevant details related to the trade, including
                            values calculated by the custom functions included in models.py -->
                            <div class="modal fade" id="selectedTrade{{ trade.id }}" tabindex="-1" role="dialog"
                                aria-labelledby="selectedTrade{{ trade.id }}" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title fw-bold list-group-item" id="tradeModal">Trade:
                                                {{ trade.ticker}} {{trade.position }} {{trade.trade_amount }}</h5>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item"><strong>Trader: </strong>{{ trade.trader }}
                                                </li>
                                                <li class="list-group-item"><strong>Ticker: </strong>{{ trade.ticker }}
                                                </li>
                                                <li class="list-group-item"><strong>Date Opened:
                                                    </strong>{{ trade.date_opened }}</li>
                                                <li class="list-group-item"><strong>Trade Amount:
                                                    </strong>{{ trade.trade_amount }}</li>
                                                <li class="list-group-item"><strong>Opening Price:
                                                    </strong>{{ trade.opening_price }}</li>
                                                <li class="list-group-item"><strong>Position:
                                                    </strong>{{ trade.position }}</li>
                                                <li class="list-group-item"><strong>Units Transacted:
                                                    </strong>{{ trade.units_transacted }}</li>
                                                <li class="list-group-item"><strong>Trade Status:
                                                    </strong>{{ trade.trade_status }}</li>
                                                <li class="list-group-item"><strong>Broker: </strong>{{ trade.broker }}
                                                </li>
                                                <li class="list-group-item"><strong>Closing Price:
                                                    </strong>{{ trade.closing_price }}</li>
                                                <li class="list-group-item"><strong>Date Closed:
                                                    </strong>{{ trade.date_closed }}</li>
                                                <li id="trade-duration" class="list-group-item"><strong>Trade Duration:
                                                    </strong>{{ trade.trade_duration }}</li>
                                                <li class="list-group-item"><strong>Realised Profit/Loss:
                                                    </strong>{{ trade.realised_pl }}</li>
                                            </ul>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-dark"
                                                data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- The Modal section ends above this comment -->

                            <!-- The Edit button code is below -->
                            <a class="btn btn-outline-success btn-sm my-1 me-1 action-button"
                                href="{% url 'edit_trade' trade.id %}">Edit</a>
                            <!-- The Delete button code is below -->
                            <button type="button" class="btn btn-outline-danger btn-sm me-1 action-button"
                                data-bs-toggle="modal" data-bs-target="#delete_trade{{ trade.id }}">Delete</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- if no records are present in the 'trades' variable, the message below will be displayed to the user-->
            {% else %}
            <p class="text-center fw-bold">There are currently no Open trades in your Ticker account, click on 'Add
                Trade' to add a trade.</p>
            <!-- The original If statement is then ended below -->
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}