body {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6rem;
}


caption {
    font-size: .8rem;
}


#tradeModal {
width: 100%;
text-align: center;
background-color: black;
color: white;
}




.social-media {
    color: white;
    text-decoration: none;
}


#hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
    margin-bottom: 8rem;
    justify-content: center;
    width: 35%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

#hero-image {
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    border-radius: 5px;
}

.action-button{
    min-width: 3.6rem;
}

#delete-confirmation-container{
    padding-bottom: 3rem;
    color: #188754
}


/* Code below for active tab was adapted from Stackoverflow post
https://stackoverflow.com/questions/51701512/how-to-change-the-color-of-active-tab-in-bootstrap */

.nav-tabs .nav-item a {
    border: none;
    margin-top: 0;
    padding-left: .3rem;
    border-top: 4px transparent;
}

.nav-tabs .nav-item .nav-link.active {
    color: black;
    border-top: 4px solid #40A758;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin-top: 0;
    padding-top: 4px;
    
}

.nav-tabs .nav-item a:hover {
    color: black;
    border-top: 4px solid #40A758;
    z-index: -1;
    margin-top: 0;
    padding-top: 4px;
}

.nav-tabs .nav-item a:after {
    color: black;
    border-top: 4px solid #40A758;
    border-bottom: none;
    z-index: -1;
    margin-top: 0;
}

#edit-trade-tab{
    color: black;
    border-top: 4px solid orange;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin-top: 0;
    border-bottom: 1px solid white;
    padding-top: 4px;
}


#confirmation-text{
    font-size: 1.5rem;
}


@media only screen and (max-width: 572px) {
    .hide-on-mobile {
        display: none;
     }

     #hero-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 8rem;
        margin-bottom: 8rem;
        justify-content: center;
        width: 60%;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
    }
}