body {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


caption {
    font-size: .8rem;
}





 #tradeModal {
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
 }


@media only screen and (max-width: 572px) {
    .hide-on-mobile {
        display: none;
     }
}


 