body {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


caption {
    font-size: .8rem;
}


#button404wrapper {
    margin-top: 20rem;
    max-width: 4rem;
    border: 3px solid black;
    margin-left: auto;
    margin-right: auto;
 }